@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800;900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

body {
  width: 100vw;
  height: 50vh;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

.container {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: top;
  margin-top: 40px;
  border-radius: 20px;
}

#app {
  z-index: 1;
  position: fixed;
  top: 40px;
  border-radius: 20px;
  width: 50%;
  height: 80%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

form {
  width: 50%;
  margin: 0 auto 100px auto;
  padding: 10px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
  position: fixed;
  bottom: -30px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  border-radius: 20px;
}

#chat_container {
  width: 90%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-top: 30px;
}

.wrapper {
  width: 100%;
  margin: 10px 0;
}

.ai {
  background-color: rgba(82, 224, 243, 0.473);
  border-radius: 5px 20px 20px 20px;
}

.chat {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: rgba(248, 245, 245, 0.8);
  border-radius: 5px 20px 20px 20px;
}

.profile {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: #5436da;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.ai .profile {
  background: #10a37f;
}

.profile img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.message {
  padding: 20px;
  font-size: 20px;
  max-width: 90%;
  white-space: pre-wrap;
}

textarea {
  width: 100%;
  font-size: 18px;
  padding: 10px;
  background: transparent;
  border-radius: 5px;
  border: none;
  outline: none;
}

button {
  outline: 0;
  border: 0;
  cursor: pointer;
  background: transparent;
}

form img {
  width: 25px;
  height: 25px;
}

@media (max-width: 768px) {
  #app {
    width: 95%;
    top: 10px;
    height: 87%;
  }
  #chat_container {
    margin-top: 10px;
  }
  form {
    width: 95%;
    bottom: -80px;
  }
  .profile {
    margin: 10px 5px 0 10px;
  }
  .message {
    padding: 10px 10px 20px 5px;
    max-width: 85%;
  }
}